@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

@if (!Html.ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<a href="/">← Go back</a>

<div class="auth-wrapper">
    <div class="card auth-content mb-0">
        <div class="card-body py-5">
            <div class="text-center mb-5">
                <h3 class="mb-3 text-primary">DirectSync</h3>
                <div class="font-18 text-center">Login to Your Account</div>
            </div>
            <form id="account" method="post">
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Email" id="email" class="md-form-control">
                        <label asp-for="Input.Email" id="label-email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="md-form mb-0">
                        <input asp-for="Input.Password" id="password" class="md-form-control">
                        <label asp-for="Input.Password" id="label-password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="flexbox mb-5">
                    <label asp-for="Input.RememberMe" class="ui-switch switch-solid">
                        <input asp-for="Input.RememberMe">
                        <span class="ml-0"></span> @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <button class="btn btn-primary btn-rounded btn-block" type="submit">LOGIN</button>

                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </form>
            <div class="text-center mt-5 font-13">
                <div class="mb-2 text-muted">2019 © All rights reserved</div>
                <div>See<a class="hover-link ml-2" href="#" style="border-bottom: 1px solid">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</div>

@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
